@import url('http://fonts.cdnfonts.com/css/inter');

:root {
    --dark-background: hsl(223deg 20% 7%);
    --dark-sections: hsl(225, 14%, 11%);
    --dark-elements: hsl(220deg 10% 17%);
    --font-color: hsl(223deg 11% 88%);
    --font-dimmed: hsl(222deg 5% 52%);
}

/* width */
::-webkit-scrollbar {
    width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--dark-sections);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--dark-elements);
    border-radius: 1rem 0rem 0rem 1rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: hsl(220deg 9% 20%);
  }

body, input, textarea, button {
    font-family: arial;
    color: var(--font-color);
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0rem;
    background-color: var(--dark-background);
    box-sizing: border-box;
    min-height: 100vh;
    transition: all 0.5;
}
header{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--dark-sections);
    align-items: center;
}
.header-summoner-box {
    margin-left: 4rem;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: auto;
}
.header-summoner-box input{
    box-sizing: border-box;
    height: 2rem;
    background-color: var(--dark-elements); 
    border: none;
    border-top: 2px solid hsl(220deg 9% 20%);
    border-radius: 0.5rem;
    padding: 0 1rem;
    width: 10rem;
    transition: all 0.3s;
    outline: none;
}
.header-summoner-box input:hover{
    background-color: var(--dark-background);
    border-top: 2px solid transparent;
}
.header-summoner-box button{
    box-sizing: border-box;
    height: auto;
    border: none;
    border-top: 2px solid hsl(220deg 9% 20%);
    background-color: var(--dark-elements);
    border-radius: 0.5rem;
    padding: 0 1rem;
    transition: all 0.3s;
}
.header-summoner-box button:hover{
    background-color: var(--dark-background);
    border-top: 2px solid transparent;
}





.main-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    gap: 4rem;
    padding: 2rem 4rem;
}
#match-container {
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: var(--dark-sections);
    width: auto;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
}
#recent-matches-container {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5rem;
    background-color: var(--dark-sections);
    margin-bottom: 2rem;
    justify-content: space-between;
    padding: 1rem 4rem;
    box-sizing: border-box;
    align-items: center;
}
.last-matches {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.last-matches span {
    font-size: 0.9rem;
    color: var(--font-dimmed);
    font-weight: 500;
    text-shadow: none;
}
.last-matches div {
    color: hsl(32, 55%, 65%);
    text-shadow: 0px 2px 2px var(--dark-background);
}
.last-matches-total {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
}
.last-matches-total-txt {
    display: flex;
    flex-direction: row;
    width: 98%;
    justify-content: flex-start;
    text-align: center;
    text-shadow: 0px 2px 2px var(--dark-background);
}
.last-matches-total-bar {
    width: 100%;
    height: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.last-matches-total-bar div {
    height: 100%;
}
.bar-wins {
    background-color: hsl(178, 69%, 52%);
}
.bar-remakes {
    background-color: var(--font-dimmed);
}
.bar-losses {
    background-color: hsl(0, 100%, 67%);
}


.all-match-info-container {
    width: 40rem;
    flex-direction: column;
    overflow: hidden;
}
#match-container .match-card {
    border-bottom: 1px solid var(--dark-background);
    width: auto;
    text-align: center;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 4rem;
    box-sizing: border-box;
    align-items: center;
}
.match-card .champion-info, .result-info {
    display: flex;
    width: 50%;
    align-items: center;
    text-shadow: 0px 2px 2px var(--dark-background);
    height: 100%;
}
.champion-info{
    justify-content: flex-start;
    gap: 2rem;
}
.champion-info-img {
    min-width: 3rem;
    min-height: 3rem;
    background-size: 115%;
    background-position: center;
    border-radius: 0.2rem;
}
.match-card .result-info {
    color: hsl(32, 55%, 65%);
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.result-info .result-info-kda {
    font-size: 0.9rem;
}
.game-result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.game-result span {
    font-size: 0.9rem;
    color: var(--font-dimmed);
    font-weight: 500;
}
.match-remake .game-result {
    color: var(--font-dimmed);
}
.match-won .game-result{
    color: hsl(178, 69%, 52%);
}
.match-lost .game-result{
    color: hsl(0, 100%, 67%);
    
}
.match-card {
    background-color: var(--dark-sections);
    transition: all 0.5s;
}
div.match-card:hover {
    background-color: var(--dark-elements);
}










.profile-container {
    width: 30rem;
    min-height: 25rem;
    background-color: var(--dark-sections);
    border-radius: 0.5rem;
    transition: all 0.3s;
}
div.profile-container:hover {
    background-color: hsl(189deg 40% 31%);
}