@import url('http://fonts.cdnfonts.com/css/roboto');

:root {
    --dark-background: hsl(223deg 20% 7%);
    --dark-sections: hsl(225, 14%, 11%);
    --dark-elements: hsl(220deg 10% 17%);
    --font-color: hsl(223deg 11% 88%);
}

body, input, textarea, button {
    font-family: arial;
    color: var(--font-color);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0rem;
    background-color: var(--dark-background);
    box-sizing: border-box;
    min-height: 100vh;
}
header{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--dark-sections);
    align-items: center;
}
.header-summoner-box {
    margin-left: 4rem;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: auto;
}
.header-summoner-box input{
    box-sizing: border-box;
    height: 2rem;
    background-color: var(--dark-elements); 
    border: none;
    border-top: 2px solid hsl(220deg 9% 20%);
    border-radius: 0.5rem;
    padding: 0 1rem;
    width: 10rem;
    font-weight: bold;
    transition: all 0.5s;
    outline: none;
}
.header-summoner-box input:hover{
    background-color: var(--dark-background);
    border-top: 2px solid transparent;
}
.header-summoner-box button{
    box-sizing: border-box;
    height: auto;
    border: none;
    border-top: 2px solid hsl(220deg 9% 20%);
    background-color: var(--dark-elements);
    border-radius: 0.5rem;
    padding: 0 1rem;
    font-weight: bold;
    transition: all 0.5s;
}
.header-summoner-box button:hover{
    background-color: var(--dark-background);
    border-top: 2px solid transparent;
}

#match-container {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.main-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    gap: 4rem;
    padding: 4rem;
    gap: 1rem;
}
.upper-match-container {
    border-radius: 0.5rem;
    width: 50rem;
    min-height: 25rem;
    flex-direction: column;
    background-color: var(--dark-sections);
    overflow: hidden;
}
#match-container {
    width: auto;
    display: flex;
    flex-direction: column;
}
#match-container div {
    padding-left: 4rem;
    border-top: 1px solid var(--dark-background);
    width: auto;
    text-align: center;
    font-weight: bold;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    line-height: 4rem;
}
.won {
    color: hsl(178, 69%, 52%);
    background-image: linear-gradient(
        90deg,
        hsl(225deg 14% 11%) 0%,
        hsl(225deg 14% 11%) 5%,
        hsl(198deg 25% 18%) 47%,
        hsl(189deg 40% 31%) 100%
      );
}
.lost {
    color: hsl(0, 100%, 67%);
    background-image: linear-gradient(
        90deg,
        hsl(225deg 14% 11%) 0%,
        hsl(225deg 14% 11%) 5%,
        hsl(354deg 27% 19%) 47%,
        hsl(0deg 46% 37%) 100%
      );
}
.profile-container {
    width: 20rem;
    min-height: 25rem;
    background-color: var(--dark-sections);
    border-radius: 0.5rem;
}